
.value-field_yJi .value_kpD {
    height: auto;
    min-height: 48rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.value-field_yJi .binding-hint_LTZ {
    flex-wrap: wrap;
    align-items: center;
}

.value-field_yJi .binding-hint_LTZ > .label_dTg {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 100%;
    margin: 4rem 0 0 0;
    font-size: 13rem;
    opacity: 0.6;
    white-space: nowrap;
}
